<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Flashlight"
        android:supportsRtl="true">
        
        <!-- Hidden mode: Flashlight launcher -->
        <activity
            android:name=".FlashlightActivity"
            android:exported="true"
            android:label="Flashlight"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Hidden Bible app activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="BiblePro"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        
    </application>

</manifest>